@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/*#region general rules */

body{
    background-color: rgb(12, 12, 12);
    color: #6441a4;
    font-family: "Source Code Pro";
    font-weight: 500;
    user-select: none;
}

h1{
    font-weight: 500;
    text-transform: uppercase;
    border-top: 5px solid;
    font-size: 76px;
    margin: 10px;
}

img{
    height: 540px;
    width: 720px;
    cursor: pointer;
    border-radius: 5%;
}

button{
    margin: 20px auto 0;
    padding: 20px 25px;
    background-color: rgb(12, 12, 12);
    color: #6441a4;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #2e2e2e;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
    cursor: pointer;
}

button:hover{
    transition: .2s;
    background-color: #6441a4;
    color: rgb(12, 12, 12);
    text-decoration: underline;
}

p{
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(12, 12, 12);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    transition: .2s;
    background-color: #6441a4;
    color: rgb(12, 12, 12);
    text-decoration: underline;
  }

  li a:hover:not(.active) {
    background-color: #6441a4;
  }


/*#endregion*/

/*#region specifics */
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    /* height: 87vh; */
}
#bottomText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
#desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


}
#helpText{
    margin: 3px;
}

#selfie{
    height: 540px;
    width: 720px;
}

#next{
    margin: 10px;
}
/* #endregion */